.square {
    height: 23px;
    width: 23px;
    display: inline-block;
    border: 1px solid black;
}

.hex-color {
    vertical-align: top;
}

.hex-color-error {
    vertical-align: top;
    color: red;
    display: none;
}

p.swatch-inline {
    margin-bottom: 3px;
}

div.tabs-panel {
    min-height: 42px;
    overflow: auto;
    padding: 0 .9em;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
}

.info-panel {
    padding: 10px;
    margin: 20px 0px;
    border: 1px #999999 solid;
    background-color: #F1F1F1;
    border-radius: 5px;
}


